.App {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}

.App-header {
  text-align: center;
  color: white;
}

.Main-content {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.Sidebar {
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}